html,body{
    margin: 0;
}

.grid-container{
    display: grid;
    grid-template-areas: "sidebar header header header header header header header header header header"
                        "sidebar main main main main main main main main main sidebar1"
                        "sidebar main main main main main main main main main sidebar1"
                        "sidebar main main main main main main main main main sidebar1"
                        "sidebar main main main main main main main main main sidebar1"
                        "sidebar main main main main main main main main main sidebar1"
                        "sidebar main main main main main main main main main sidebar1"
                        "sidebar main main main main main main main main main sidebar1"
                        "sidebar main main main main main main main main main sidebar1"
                        "sidebar main main main main main main main main main sidebar1"
                        "sidebar main main main main main main main main main sidebar1";
    grid-template-columns: 1fr repeat(9,1fr) 4fr;
    grid-template-rows: 120px auto;
    background: lightgrey;
    height: 100vh;

}

.grid-container>.sidebar{
    grid-area: sidebar;
    background: rgb(61, 170, 238);
    display: grid;
    align-items: start;
    justify-items: start;
    grid-template-areas: "header"
                        "."
                        "main"
                        "."
                        "footer";
}

.grid-container>.heading
{
    grid-area: header;
    display: grid;
    grid-template-areas: "header1 header2"
    "header3 header4";
    grid-template-rows: 50px 50px;
    background: white;
    box-shadow: 5px 5px rgb(164, 29, 29);
}

.grid-container>.main{
    grid-area: main;
    background: lightgrey;
    display: grid;
    grid-template-areas:"mainheader ."
                        "block1 block2"
                        "block3 block4"
                        "block5 block6";
    gap: 10px;
    grid-template-rows: 0fr 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr;

}

.grid-container>.second-sidebar{
    grid-area: sidebar1;
    background: lightgrey;
    display: grid;
    grid-template-areas:"head1" 
                        "block7"
                        "head2"
                        "block8";
    grid-template-rows: 0fr 2fr 0fr 2fr;
    gap: 5px;
}


.sidebar>.dashboard{
    font-size: 40px;
    color: white;
    margin-left: 0;
    grid-area: header;
    margin-top: 10px;
    display: flex;
}

.sidebar>.navigate{
    display:flex;
    flex-direction: column;
    color: white;
    font-size: 25px;
    align-items: flex-start;
    grid-area: main;
}

.sidebar>.settings
{
    display:flex;
    flex-direction: column;
    color: white;
    font-size: 25px;
    align-items: flex-start;
    grid-area: footer;
}

.sidebar>div>a{
    margin: 10px;
    margin-left: 0;
}

.dashboard img{
    height: 50px;
    width: 50px;
    margin-left: 15px;
}
img{
    height: 25px;
    width: 25px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 0;
    display: inline-block;
    margin-left: 20px;
    color: white;
}

.heading>.search{
    grid-area: header1;
    display: flex;
    align-items: center;
}

.search input{
    border-radius: 20px;
    border: white;
    width: 80%;
    height: 70%;
    margin-top: 0;
    background: lightgrey;
}

.heading>.notifs{
    grid-area: header2;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.heading>.notifs img{
    margin-right: 10px;
}

.heading>.notifs p{
    margin-right: 10px;
}

.heading>.hello{
    grid-area: header3;
    display: flex;
    align-items: center;
}

.heading>.buttons{
    grid-area: header4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

}

.heading>.buttons button{
    background-color: rgb(53, 53, 255);
    border: white;
    padding: 10px;
    width: 50%;
    border-radius: 20px;
    color: white;
    font-size: 15px ;
    margin-right: 50px;
}

.main h2{
    grid-area: mainheader;
    margin-left: 10px;
}

.main>.content-one,.main>.content-two,.main>.content-three,.main>.content-four,.main>.content-five,.main>.content-six
{
    grid-template-areas: "leftmargin content content"
                        "leftmargin content content"
                        "leftmargin content content"
                        "leftmargin . ."
                        "leftmargin .images";
    gap: 10px;
}

.second-sidebar>.content-seven p,hr{
    margin: 10px;
    grid-column: 1/6;
}

.second-sidebar>.content-eight{
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;

}
.main .content-one{
    grid-area: block1;
    background: white;
    display: grid;
    grid-template-columns: 5px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(223, 218, 218);
}

.main .content-two{
    grid-area: block2;
    background: white;
    display: grid;
    grid-template-columns: 5px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(223, 218, 218);
}

.main .content-three{
    grid-area: block3;
    background: white;
    display: grid;
    grid-template-columns: 5px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(223, 218, 218);
    
}

.main .content-four{
    grid-area: block4;
    background: white;
    display: grid;
    grid-template-columns: 5px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(223, 218, 218);
}

.main .content-five{
    grid-area: block5;
    background: white;
    display: grid;
    grid-template-columns: 5px;
    margin: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(223, 218, 218);
}


.main .content-six{
    grid-area: block6;
    background: white;
    display: grid;
    grid-template-columns: 5px;
    margin: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 10px 10px rgb(223, 218, 218);
}

.second-sidebar .content-seven{
    grid-area: block7;
    background: white;
    display: grid;
    margin: 10px;
    margin-top: 0px;
    margin-right: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(223, 218, 218);
}

.second-sidebar .content-eight{
    grid-area: block8;
    background: white;
    display: grid;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-right: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(223, 218, 218);
}

.second-sidebar #head1{
    grid-area:head1;
    margin-left: 10px;
}

.second-sidebar #head2{
    grid-area: head2;
    margin-left: 10px;
}

.leftmargin{
    grid-area: leftmargin;
    border: 5px solid yellow;
    border-radius: 10px;
}

.content-one>.image-div,.content-two>.image-div,.content-three>.image-div,.content-four>.image-div,.content-five>.image-div,.content-six>.image-div{
    grid-area: images;
}